{% extends "xbox/layout.html" %}
{% load static %}

{% block body %}

    <div id="nav-buttons" style="padding-left: 10px; padding-right: 10px;">
        <button class="btn btn-sm btn-outline-primary gamelist-nav-btn" id="sale-games-button">Sale</button>
        <button class="btn btn-sm btn-outline-primary gamelist-nav-btn" id="wishlist-games-button">Wishlist</button>
        <button class="btn btn-sm btn-outline-primary gamelist-nav-btn" id="all-games-button">All</button>
        <span class="contentcontainer med left" style="float: right">
            <form id="search-form" onsubmit="return false;">
                <div class="form-group" style="display: inline-block;">
                    <input class="form-control" id="search-entry" placeholder="Game title">
                </div>
                <input type="submit" class="btn btn-primary" style="margin-top: -3px;" value="Search"/>
            </form>
        </span>
    </div>

    <h2 id="view-heading" style="margin: 5px; padding: 5px;">Games on Sale</h2>

    <div id="message" class="alert alert-primary" role="alert" style="max-width: 800px; margin: auto; margin-top: 10px; margin-bottom: 20px;"></div>

    <div id="login" style="display: inline; max-width: 800px; margin-left: auto; margin-right: auto; margin-top: 80px;">
        <div class="container d-flex justify-content-center">
            <form id="login-form" onsubmit="return false;">
                <div class="form-group" style="margin-top: 10px;">
                    <input id="login-username" autofocus class="form-control" type="text" name="username" placeholder="Username" autocomplete="username" required>
                </div>
                <div class="form-group"  style="margin-top: 10px;">
                    <input id="login-password" class="form-control" type="password" name="password" placeholder="Password" autocomplete="current-password" required>
                </div>
                <input id="login-submit" class="btn btn-primary" type="submit" value="Login" style="margin-top: 20px; float: right;">
                
            </form>
        </div>

        <div class="container d-flex justify-content-center" style="display: inline; margin-top: 45px; float: right;">
            Don't have an account? <a id="login-register" href="#">Register here.</a>
        </div>
        
    </div>

    <div id="register" style="display: inline; max-width: 800px; margin-left: auto; margin-right: auto; margin-top: 80px;">
        <div class="container d-flex justify-content-center">
            <form id="registration-form" onsubmit="return false;">
                <div class="form-group" style="margin-top: 10px;">
                    <input id="register-username" class="form-control" autofocus type="text" name="username" placeholder="Username" autocomplete="username" required>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <input id="register-email" class="form-control" type="email" name="email" placeholder="Email Address" autocomplete="username" required>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <input id="register-password" class="form-control" type="password" name="password" placeholder="Password" autocomplete="new-password" required>
                </div>
                <div class="form-group" style="margin-top: 10px;">
                    <input id="register-confirmation" class="form-control" type="password" name="confirmation" placeholder="Confirm Password" autocomplete="new-password" required>
                </div>
                <input id="register-submit" class="btn btn-primary" type="submit" value="Register" style="margin-top: 20px; float: right;">
            </form>
        </div>
        <div class="container d-flex justify-content-center" style="display: inline; margin-top: 45px; float: right;">
            Already have an account? <a id="register-login" href="#">Log In here.</a>
        </div>
    </div>

    {% comment %} <div id="add-game" class="container border border-secondary rounded-sm">
        <div class="row">
            <div class="col-sm" style="margin: 20px;">
                <div id="game-form-view">
                    <form id="game-form" action="{% url 'add_game' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea autofocus class="form-control" id="game-url" name="game-url" required="required" maxlength="1000" placeholder="URL"></textarea>
                        </div>
                        <span class="align-bottom">
                            <div class="row algin-bottom">
                                <div class="col">
                                    <input type="submit" class="btn btn-primary" value="Add Game"/>
                                </div>
                            </div>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div> {% endcomment %}

    <div id="add-game" class="container">
        <div class="row">
            <div class="col-sm d-flex justify-content-center">
                <div id="game-form-view" style="margin-top: 10px;">
                    <form id="add-game-form">
                        <div class="form-group">
                            <textarea autofocus class="form-control" id="game-url" name="game-url" required="required" maxlength="800" placeholder="Xbox Store game page URL"></textarea>
                        </div>
                        <span class="align-bottom">
                            <div class="row algin-bottom">
                                <div class="col">
                                    <input type="submit" class="btn btn-primary" value="Add Game" style="margin-top: 10px; float: right;" />
                                </div>
                            </div>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="gamelist-view" style="margin-left: 10%; margin-right: 10%;"></div>

    <div id="game-view"></div>

    <div id="spinner" style="max-width: 400px; margin-left: auto; margin-right: auto; margin-top: 50px;">
        <div class="d-flex align-items-center">
            <strong>Adding game from the Xbox Store...</strong>
            <div id="spinner-widget" class="spinner-border mx-auto" role="status" aria-hidden="true"></div>
        </div>
    </div>


    <div id="pages" class="text-xs-center" style="margin-left: auto; margin-right: auto; margin-top: 50px;">
        <nav aria-label="pages">
            <ul id="paginator" class="pagination justify-content-center" style="text-align: center;">
            </ul>
        </nav>
    </div>


{% endblock body %}

{% block script %}
    <script src="{% static 'xbox/index.js' %}"></script>
{% endblock script%}