{% extends "xbox/layout.html" %}
{% load static %}

{% block body %}

    <h2>All Posts</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}
    <div id="result-message"></div>

    <div class="container border border-secondary rounded-sm">
        <div class="row">
            <div class="col-sm" style="margin: 20px;">
                <div id="game-view">
                    <form id="game-form" action="{% url 'add_game' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea autofocus class="form-control" id="game-url" name="game-url" required="required" maxlength="1000" placeholder="URL"></textarea>
                        </div>
                        <span class="align-bottom">
                            <div class="row algin-bottom">
                                <div class="col">
                                    <input type="submit" class="btn btn-primary" value="Add Game"/>
                                </div>
                            </div>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <form action="{% url 'index' %}">
        <input class="search" type="text" name="q" placeholder="Search Games">
    </form>

    <div>
        {% for game in wishlist %}
            <p>{{ game.title}} - {{ game.current_price }} - {{ game.noted_sale }} - {{ game.noted_sale_type }} - {{ game.discount }} - Lowest price: {{ game.lowest_price }}</p>
        {% endfor %}
    </div>

    <div id="wishlist-view">
        <div id="wishlist-header"></div>
        <div class="row" style="padding: 5px; margin: 5px;">
            <div class="col-sm" style="text-align: center;"><h5>Title</h5></div>
            <div class="col-sm" style="text-align: center;"><h5>Current Price</h5></div>
            <div class="col-sm" style="text-align: center;"><h5>Sale</h5></div>
            <div class="col-sm" style="text-align: center;"><h5>Regular Price</h5></div>
        </div>
        <div id="wishlist-view-list" class="container">
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'xbox/index.js' %}"></script>
{% endblock %}