.body {
    padding-top: 1vh;
    margin: 0 auto;
    display: flex;
    /* justify-content: center; */
}
textarea {
    min-height: 150px;
    max-height: 150px;
    max-width: 48vw;
    min-width: 48vw;
}

form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#gamelist-view {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    font-size: 14px;
}

.card-img-cover {
    object-fit: cover;
    max-height: 110px;
}

.centered-card {
    position: fixed;
    left: 25%;
}

.card-lg-img-cover {
    object-fit: cover;
    max-height: 340px;
    min-width: 272px;
}

#game-view {
    padding-left: 50px; 
    padding-right: 50px;
}

.game-view-card {
    margin-top: 50px;
    max-width: 1085px;
    margin-left: auto;
    margin-right: auto;
}

.game-view-card-image-container {
    overflow: hidden;
    min-width: 272px;
}

.game-view-card-cta {
    position: absolute;
    bottom: 16px;
    right: 16px;
}

.card {
    background-color: #f0f0f0;
}

.card-title {
    font-weight: bold;
}

.card-space {
    margin-right: 5px;
}

.card-badge-space {
    margin-right: 3px;
}

.sale-regular-price {
    text-decoration: line-through;
}

.sale-price {
    font-weight: bold;
}

/* 

.game-list-game-container {
    max-width: 90vw;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.gamelist-game-row {
    max-width: 400px;
    min-width: 400px;
    max-height: 400px;
    min-height: 400px;
    padding-left: 10px;
    padding-right: 10px;
} 
*/
